<head>
	<meta charset="utf-8">
	<title>act8team ー Blog</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.min.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<h1 class="pagetitler">Blog</h1>
<p class="pagetitler nocolor"><% if(it.posts.length > 0) { %>You are currently viewing page <%= it.page %> out of <%= it.blogData.pages_max+1 %>.<% } else { %>There are no posts yet.. ;(<% } %></p>
	<% it.posts.forEach( (post) => { %>
	<div class="blogblock">
		<img class="blog-image"
		src="<%= post.poster == null ? "/imgs/default/no-blog-poster.jpg" : post.poster %>">
		<div class="inside blogpost">
			<table>
				<tbody>
					<tr><td class="posttitle"><%= post.title %></td></tr>
					<tr><td class="postdesc"><%~ post.short_description %></td></tr>
					<tr><td class="postfooter"><span class="author_info">Posted by <a href="/dev/<%= post.author.id %>" class="author"><%= post.author.full_name %></a> on <%= new Date(post.created_at).toLocaleDateString() %></span> <button data-id="<%= post.id %>" class="blogbutton">Read more</button></td></tr>
				</tbody>
			</table>
		</div>
	</div>
	<% }) %>
<div class="paginator-holder"><div class="blogs-paginator"><a class="paginator-button" href="/blog/<%= it.page < 2 ? 0 : it.page-2  %>">&lt;</a> <%= it.page %> &#47; <%= it.blogData.pages_max+1 %> <a href="/blog/<%= it.page >= it.blogData.pages_max ? it.blogData.pages_max : it.page  %>" class="paginator-button">&gt;</a></div></div>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>