<head>
	<meta charset="utf-8">
	<title>act8team ー Blog</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<h1 class="pagetitler">Blog</h1>
<p class="pagetitler nocolor">Currently blog consists of <%= it.posts.length %> post(s).</p>
	<% it.posts.forEach( (post) => { %>
	<div class="blogblock">
		<div class="inside blogpost">
			<table>
				<tbody>
					<tr><td class="posttitle"><%= post.title %></td></tr>
					<tr><td class="postdesc"><%= post.short_description %></td></tr>
					<tr><td class="postfooter"><span class="author_info">Posted by <a href="/dev/<%= post.author.id %>" class="author"><%= post.author.full_name %></a> on <%= new Date(post.created_at).toLocaleDateString() %></span> <button data-id="<%= post.id %>" class="blogbutton">Read more</button></td></tr>
				</tbody>
			</table>
		</div>
	</div>
	<% }) %>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>