<head>
	<meta charset="utf-8">
	<title>act8team ー Commits</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<%~ includeFile('/layouts/presets/references.ejs');  %>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<h1 class="pagetitler">Commits</h1>
<p class="pagetitler nocolor"><span style="color: var(--brand-white); font-weight: 1000;">ATTENTION! </span>This page is still in development, so many things are not done yet. (Emails are not linked with act8 profiles yet & Filters aren't working) Everything is a subject to change.</p>
<p class="pagetitler nocolor">There is <%= it.commitsData.amount %> public commit(s).</p>
<div class="commit-holder">
<% it.pageData.forEach((commit)=>{ %>
		<div class="commit">
			<div class="inside-commit">
				<div class="commiter">
					<img src="/imgs/default/no-avatar.jpg">
					<span class="info"><a class="commiter" href="?filter=commiter:"><%=commit.pusher_email%></a> in <a class="dir repo" href="?filter=repo:"><%=commit.repository%></a><span class="devider47"></span><a class="dir branch" href="?filter=repo:"><%=commit.branch%></a><a class="changesetid" href="?">#<%=commit.changesetid%></a></span>
				</div>
				<div class="commit"><%~commit.commit_text.replace(/(?:\r\n|\r|\n)/g, "<br>")%></div>
				<div class="commit-time"><span><%=new Date(commit.push_time).toLocaleDateString('en-US')+" "+new Date(commit.push_time).toLocaleTimeString('en-US')%></span></div>
			</div>
		</div>
<% }) %>
</div>
<br>
<% if(it.commitsData.amount > 0 && it.commitsData.amount/10 > 1) { %>
	<div class="paginator-holder"><div class="blogs-paginator"><a class="paginator-button" href="/commits/<%= parseInt(it.page) == 0 ? 0 : parseInt(it.page)-1 %>">&lt;</a> <%= parseInt(it.page)+1 %> &#47; <%= it.commitsData.pages_max %> <a href="/commits/<%= it.page >= it.commitsData.pages_max-1 ? it.page : parseInt(it.page)+1 %>" class="paginator-button">&gt;</a></div></div>
<% } %>

<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>