<head>
	<meta charset="utf-8">
	<title><%= it.devData.full_name %> at act8team</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.js"></script>
</head>
<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<div class="profile">
    <div class="profile-poster" style="--poster-url: <%= it.devData.background_url == "" ? "#101010" : "url("+it.devData.background_url+");" %>">
        <div class="profile-avatar">
            <img src="<%= it.devData.avatar_url == null || it.devData.avatar_url == "" ? "/imgs/default/no-avatar.jpg" : it.devData.avatar_url %>">
        </div>
    </div>
    <div class="profile-info">
        <div class="profile-dev-data"> 
            <span class="dev-data dev-name"><%= it.devData.full_name %></span>
            <span class="dev-data smaller dev-position"><%= it.devData.position %></span>
        </div>
        <div class="profile-data">
            <span class="profile-description"><%= it.devData.description == "" ? "No description provided." : it.devData.description %></span>
            <%= it.devData.socials.join(' ') %>
        </div>
    </div>
</div>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>