<head>
	<meta charset="utf-8">
	<title>act8team ー <%= it.game.name %></title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<div class="game-filler"
style="--poster-url: url(<%= it.game.background_url == "" ? "/imgs/default/no-game-filler.jpg" : it.game.background_url %>);">
<div class="game-filler-darken">
	<table>
		<tr><td><h1 class="game-page game-name"><%= it.game.name %></h1>
			<p><%= it.game.slogan %></p></td></tr>
		<tr><td><span>
			<% if (it.game.button_text != "no-button-display") { %>
				<% if (it.game.button_url != "no-button-url") { %>
					<a href="<%= it.game.button_url %>" class="game-page game-button"><%= it.game.button_text %></a>
				<% } else { %>
					<span><%= it.game.button_text %></span>
				<% } %>
			<% } %>
		</span></td></tr>
	</table>
</div>
</div>
<div class="game-page game-screenshots">
	<table>
		<tr><td>
			<img class="game-page game-screenshot" src="https://sun9-20.userapi.com/impg/UtIzHddVncqoSQWNXMdu5SZMGOhMP0mnpfiIbA/jOn1j-5hWPM.jpg?size=576x623&quality=96&sign=3e3c3969c0bcb918ac676218a8b283c7&type=album);" data-screenshot="https://sun9-20.userapi.com/impg/UtIzHddVncqoSQWNXMdu5SZMGOhMP0mnpfiIbA/jOn1j-5hWPM.jpg?size=576x623&quality=96&sign=3e3c3969c0bcb918ac676218a8b283c7&type=album">
			<img class="game-page game-screenshot" src="https://sun9-15.userapi.com/impg/72XFhE7tHgz0xlA4vwyLrp00MFuYrmUWm4W_uw/CkFB-Sg7nIU.jpg?size=293x172&quality=96&sign=fe8b3553e271fbe06075be4b7858f887&type=album">
			<img class="game-page game-screenshot" src="https://sun9-41.userapi.com/impg/w2jF_-IEwJXlo3JaURvU-qE2WOORFRftyU_5nQ/yh9DJggK7bs.jpg?size=1242x1138&quality=96&sign=96f674569255155ecef8d07cca400570&type=album">
		</td></tr>
	</table>
</div>
<div class="full-blackout" style="display: none;"></div>
<div class="close-screenshot" style="display: none;">&times;</div>
<img class="game-screenshot-full" style="display: none;">
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>