<head>
	<meta charset="utf-8">
	<title>act8team ー <%= it.game.name %></title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<div class="game-filler"
style="--poster-url: url(<%= it.game.background_url == "" ? "/imgs/default/no-game-filler.jpg" : it.game.background_url %>);">
<div class="game-filler-darken">
	<table>
		<tr><td><h1 class="game-page game-name"><%= it.game.name %></h1>
			<p><%= it.game.slogan %></p></td></tr>
		<tr><td><span>
			<% if (it.game.button_text != "no-button-display") { %>
				<% if (it.game.button_url != "no-button-url") { %>
					<a href="<%= it.game.button_url %>" class="game-page game-button"><%= it.game.button_text %></a>
				<% } else { %>
					<span><%= it.game.button_text %></span>
				<% } %>
			<% } %>
		</span></td></tr>
	</table>
</div>
<div class="game-page game-screenshots">

</div>
</div>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>