<head>
	<meta charset="utf-8">
	<title>act8team ー Home</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<%~ includeFile('/layouts/presets/references.ejs');  %>
</head>

<body>
<!--NavBar-->
<!--Body-->
<div class="body">
	<div class="bodynavbarholder"><%~ includeFile('/layouts/presets/navbar.ejs'); %></div>
	<div class="insidebody">
		<div class="bodyinside">
			<div class="mainh"><h1>Indie game development studio,</h1>
				<h1>located somewhere in Russia.</h1>
				<h2>We make games.</h2></div>
		</div>
	</div>
</div>
<div class="_1block gameholder">
	<h1>Our Latest Games</h1>
	<div class="game" data-id="<%= it.latestGames.length > 1 ? it.latestGames[1].id : -1  %>" style="--poster-url: url(<%= it.latestGames.length > 1 ? "/poster/"+it.latestGames[1].id : "/imgs/default/no-poster.jpg"  %>);"></div>
	<div class="game centerized" data-id="<%= it.latestGames.length > 0 ? it.latestGames[0].id : -1  %>" style="--poster-url: url(<%= it.latestGames.length > 0 ? "/poster/"+it.latestGames[0].id : "/imgs/default/no-poster.jpg"  %>);"></div>
	<div class="game" data-id="<%= it.latestGames.length > 2 ? it.latestGames[2].id : -1  %>" style="--poster-url: url(<%= it.latestGames.length > 2 ? "/poster/"+it.latestGames[2].id : "/imgs/default/no-poster.jpg"  %>);"></div>
</div>
<div class="_2block tpe">
	<h1 class="head">we exist already for</h1>
	<h2 class="counter" id="YearGameDevCounter">0.0 years</h2>
</div>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>