<head>
	<meta charset="utf-8">
	<title>act8team ー Team</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.min.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<div class="_3block">
	<div class="inside">
		<div class="team">
			<% if (it.employees.length > 0) { %>
			<h1>Current Team Members</h1>
			<p>These guys are cool, they are working on our projects right now (probably).</p>
			<% } %>
			<%  it.employees.forEach(function(employee) { %>
				<div class="member" data-id="<%= employee.id %>">
					<table>
						<% // Implement gradient shading %>
						<tr class="user-info" style="--user-gradient-one: <%= employee.gradient_1 %>; --user-gradient-two: <%= employee.gradient_2 %>;"><td><img src="/avatar/<%= employee.id %>" class="user-image"></td></tr>
						<tr class="details"><td><%= employee.full_name %></td></tr>
					</table>
				</div>
			<% }) %>

			<% if( it.resigned.length > 0 ) {  %>
				<h1>Resigned Team Members</h1>
				<p>They left us, but we will remember them and their impact on us forever.</p>
			<% } %>
			<%  it.resigned.forEach(function(employee) { %>
				<div class="member" data-id="<%= employee.id %>">
					<table>
						<% // Implement gradient shading %>
						<tr class="user-info" style="--user-gradient-one: <%= employee.gradient_1 %>; --user-gradient-two: <%= employee.gradient_2 %>;"><td><img src="/avatar/<%= employee.id %>" class="user-image"></td></tr>
						<tr class="details"><td><%= employee.full_name %></td></tr>
					</table>
				</div>
			<% }) %>
			<% if(it.resigned.length < 1 && it.employees.length < 1) { %>
			<h1>Oh...</h1>
			<p>I guess we don't have any employees at the moment or the server is just stupid, try waiting and reloading the page, maybe someone will appear.</p>
			<% } %>
		</div>
	</div>
</div>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>